:root {
  /* colors */
  --purple: #a729f5;
  --dark-navy: #313e51;
  --navy: #3b4d66;
  --grey-navy: #626c7f;
  --light-bluish: #abc1e1;
  --light-grey: #f4f6fa;
  --green: #26d782;
  --red: #ee5454;

  /* font styles */
  --font-family: "Rubik", sans-serif;

  --heading-s-font-family: var(--font-family);
  --heading-s-font-weight: 500; /* Medium */
  --heading-s-font-size: 2.8rem;
  --heading-s-line-height: 100%;

  --heading-m-font-family: var(--heading-s-font-family);
  --heading-m-font-weight: var(--heading-s-font-weight);
  --heading-m-font-size: 3.6rem;
  --heading-m-line-height: var(--heading-s-line-height);

  --heading-l-regular-font-family: var(--heading-s-font-family);
  --heading-l-regular-font-weight: 400; /* Regular */
  --heading-l-regular-font-size: 6.4rem;
  --heading-l-regular-line-height: var(--heading-s-line-height);

  --heading-l-bold-font-family: var(--heading-s-font-family);
  --heading-l-bold-font-weight: 700; /* Bold */
  --heading-l-bold-font-size: var(--heading-l-regular-font-size);
  --heading-l-bold-line-height: var(--heading-s-line-height);

  --display-font-family: var(--heading-s-font-family);
  --display-font-weight: var(--heading-l-bold-font-weight);
  --display-font-size: 14.4rem;
  --display-line-height: var(--heading-s-line-height);

  --body-m-font-family: var(--heading-s-font-family);
  --body-m-font-weight: 400; /* Regular */
  --body-m-font-size: 1.2rem;
  --body-m-line-height: 150%;

  --body-s-font-family: var(--body-m-font-family);
  --body-s-font-weight: var(--body-m-font-weight);
  --body-s-font-size: var(--body-m-font-size);
  --body-s-line-height: var(--body-m-line-height);
  --body-s-font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
  color: var(--dark-navy);
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

body {
  background: url(./assets/images/pattern-background-mobile-light.svg);
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
}

.light {
  background: url(./assets/images/pattern-background-mobile-light.svg);
  background-repeat: no-repeat;
  background-color: var(--light-grey);
}

.dark {
  background: url(./assets/images/pattern-background-mobile-dark.svg);
  background-repeat: no-repeat;
}

main {
  flex-grow: 1;
  position: relative;
  display: flex;
  overflow: hidden;
}

header {
  width: 100%;
  height: 7.2rem;
  padding: 1.6rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category__icon--wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

h1 {
  font-weight: 500;
  font-size: 1.8rem;
}

.category__icon--wrapper img {
  background-color: #f6e7ff;
  padding: 0.571rem;
  border-radius: 4px;
  height: 4rem;
  width: 4rem;
}

.switch__cont {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  right: 0.571rem;
}

.switch__cont img {
  width: 1.6rem;
  height: 1.6rem;
}

.switcher {
  background-color: var(--purple);
  width: 3.2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s all;
}

.switcher::before {
  position: absolute;
  content: "";
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 200px;
  margin: 4px;
  transition: 0.2s all;
}

#switch__checkbox:checked + .switcher::before {
  transform: translateX(12px);
}

#switch__checkbox {
  display: none;
}

.menu__screen,
.question__screen,
.score__screen {
  width: 100vw; /* Ensure it takes the full width of the viewport */
  height: 100vh; /* Ensure it takes the full height of the viewport */
  padding: 3.2rem 2.4rem; /* Ensure padding is uniform */
  padding-bottom: 0;
  box-sizing: border-box; /* Make sure padding is included in width and height */
  flex-shrink: 0; /* Prevent shrinking */
  transition: transform 1s ease-in-out; /* Smooth transition */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}

/* Menu Screen */

.menu__top {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.menu__top h2,
.score__top h2 {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-weight: 300;
}

.menu__top h2 span,
.score__top h2 span {
  font-weight: 500;
}

.menu__top > span {
  color: var(--grey-navy);
  line-height: var(--body-m-line-height);
  font-style: italic;
  font-size: 1.4rem;
}

.menu__bot,
.question__bot,
.score__bot {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
}

button {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 12px;
  padding: 1.2rem;
  -webkit-box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.1);
  -moz-box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.1);
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.1);
  cursor: pointer;
}

.category__btn img {
  width: 4rem;
  height: 4rem;
  padding: 0.571rem;
  border-radius: 6px;
}

.html__btn img {
  background-color: #fff1e9;
}

.css__btn img {
  background-color: #e0fdef;
}

.js__btn img {
  background-color: #ebf0ff;
}

.access__btn img {
  background-color: #f6e7ff;
}

/* Question Screen */
.question__top {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.question__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.question__number {
  color: var(--grey-navy);
  line-height: var(--body-m-line-height);
  font-style: italic;
  font-size: 1.4rem;
}

.question {
  line-height: 120%;
  font-size: 2rem;
  font-weight: 500;
}

.progress__wrapper {
  width: 100%;
  background-color: #fff;
  height: 16px;
  border-radius: 999px;
  padding: 0.4rem;
}

.progress__bar {
  width: 60%;
  height: 100%;
  background-color: var(--purple);
  border-radius: 104px;
}

.answer__letter {
  color: var(--grey-navy);
  width: 4rem;
  height: 4rem;
  padding: 1.1rem 1.4rem;
  background-color: var(--light-grey);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple__btn {
  background-color: var(--purple);
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.6rem;
}

.active {
  border: 3px solid var(--purple);
}

.active .answer__letter {
  background-color: var(--purple);
  color: #fff;
}

/* Score Screen */

.results__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.1);
  -moz-box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.1);
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.1);
  padding: 3.2rem;
  border-radius: 12px;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.score h3 {
  font-weight: 500;
  font-size: 8.8rem;
}

.score span {
  font-size: 1.8rem;
  color: var(--grey-navy);
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 5rem;
  }
  .light {
    background: url(./assets/images/pattern-background-tablet-light.svg);
    background-repeat: no-repeat;
    background-color: var(--light-grey);
  }

  .dark {
    background: url(./assets/images/pattern-background-tablet-dark.svg);
    background-repeat: no-repeat;
  }
  header {
    width: 100%;
    padding: 4rem 6.4rem;
    height: fit-content;
  }

  h1 {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 100%;
  }

  .switcher {
    width: 4.8rem;
    height: 2.8rem;
  }

  .switcher::before {
    width: 20px;
    height: 20px;
  }
  #switch__checkbox:checked + .switcher::before {
    transform: translateX(20px);
  }
  .switch__cont img {
    width: 2.4rem;
    height: 2.4rem;
  }

  .switch__cont {
    gap: 1.6rem;
    right: 6.4rem;
  }

  .menu__screen,
  .question__screen,
  .score__screen {
    padding: 0 6.4rem;
    gap: 6.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu__top {
    gap: 1.6rem;
  }

  .menu__bot {
    gap: 2.4rem;
  }
  .menu__top h2,
  .score__top h2 {
    font-weight: 300;
    font-size: 6.4rem;
    line-height: var(--heading-s-line-height);
  }

  .menu__top h2 span,
  .score__top h2 span {
    font-weight: 500;
  }

  button {
    font-weight: 500; /* Medium */
    font-size: 2.8rem;
    line-height: 100%;
    padding: 1.2rem;
    border-radius: 24px;
    gap: 3.2rem;
    height: 8rem;
  }

  .category__btn img {
    width: 5.6rem;
    height: 5.6rem;
    padding: 0.8;
    border-radius: 12px;
  }

  .question__top {
    gap: 4rem;
  }

  .question__wrapper {
    gap: 2.7rem;
  }

  .question__number {
    font-size: 2rem;
    line-height: 150%;
  }

  .question {
    font-size: var(--heading-m-font-size);
    font-weight: var(--heading-m-font-weight);
    line-height: 120%;
  }

  .progress__wrapper {
    height: 1.6rem;
  }

  .question__bot {
    gap: 2.4rem;
  }

  .purple__btn {
    margin-top: 32px;
    font-size: var(--heading-s-font-size);
    height: 9.2rem;
  }

  .answer__letter {
    font-size: var(--heading-s-font-size);
    padding: 1.4rem 1.8rem;
    height: 5.6rem;
    width: 5.6rem;
  }

  .score__top h2 {
    gap: 0.8rem;
    font-size: var(--heading-l-regular-font-size);
  }
  .results__wrapper {
    gap: 4rem;
  }

  .score h3 {
    font-size: var(--display-font-size);
    font-weight: var(--display-font-weight);
    line-height: var(--display-line-height);
  }

  .score span {
    font-size: 2.4rem;
    font-weight: var(--body-m-font-weight);
    line-height: 150%;
  }
}

@media screen and (min-width: 1044px) {
  header {
    width: 100%;
    padding: 9.9rem 14rem;
    height: fit-content;
  }
  .switch__cont {
    gap: 1.6rem;
    right: 14rem;
  }
  .light {
    background: url(./assets/images/pattern-background-desktop-light.svg);
    background-color: var(--light-grey);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dark {
    background: url(./assets/images/pattern-background-desktop-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .menu__screen,
  .question__screen,
  .score__screen {
    padding: 0 14rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 131px;
  }

  .menu__top {
    gap: 4.8rem;
    width: 100%;
  }

  .question__top {
    gap: 20rem;
    width: 100%;
  }

  .score__top {
    margin-right: auto;
  }
  .score__bot {
    width: 56.2rem;
  }
}
